

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

body {
    font-weight: 100;
    background-color: rgb(0, 0, 0);
}

/* -----------------------------------------------------------------------
header 영역 - 로고, 메인메뉴
----------------------------------------------------------------------- */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 342px;
    /* background-color: rgb(127, 87, 87); */
}
#navmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 98px;
    right: 155px;
    row-gap: 15px;
    text-align: right;
    /* background-color: rgb(0, 0, 0); */
}
#navmenu p {
    font-family: 'Inter', sans-serif;
    margin: 0 5px;
    
}
/* #navmenu 요소에 포함된 a 태그 스타일 설정 */
#navmenu a {
    color: rgb(122, 122, 122);
    font-size: 22px;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration: none;
    color: rgb(181, 44, 44);
}
#title {
    font-size: 32px;
    color: white;
    margin-left: 45px;
    padding-top: 55px;
    /* background-color: aquamarine; */
}
#Lee {
    font-family: 'Almarai', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 0%;
    color: rgb(122, 122, 122);
    padding-top: 0px;
    margin-left: 498px;
    /* background-color: rgb(148, 122, 82); */
}

/* -----------------------------------------------------------------------
Line 영역 - 선
----------------------------------------------------------------------- */

#line01 {
    position: absolute;
    border-top: 1.5px solid rgb(78, 78, 78);
    width: 680px;
    top: 195px;
    left: 0;
}

#line02 {
    position: absolute;
    border-right: 1.5px solid rgb(78, 78, 78);
    width: 1590px;
    height: 312px;
    top: 0;
}

/* -----------------------------------------------------------------------
이미지 영역
----------------------------------------------------------------------- */

#picture {
    display: flex;
    justify-content: end; /*아이템을 메인축(가로) 방향으로 가운데 정렬 */

    position: absolute;
    width: 64.8%;
    height: 47%;
    bottom: 8%;
    right: 0;

    /* background-color: antiquewhite; */
}


/* 일단 지워놔................

@media screen and (max-width: 960px) {

    #title {
        padding-top: 140px;
        margin-left: 30px;
        font-size: 25px;
    }

    #Lee {
        
    }
}

*/

/* 스마트폰 크기

@media screen and (max-width: 590px) {
    #title {
        padding-top: 130px;
        margin-left: 15px;
        font-size: 15.5px;
    }

    #Lee {
        font-size: 19px;
        margin-left: 185px;
    }

    #line01 {
        width: 310px;
    }

    #line02 {
        width: 450px;
    }

    #navmenu {
        right: 55px;
        bottom: 100px;

    }

    #navmenu a {
        font-size: 18px;
    }

    #picture {
        height: 20%;
        bottom: 150px;
    }
}

*/

/* 작!은! 스마트폰 크기 

@media screen and (max-width: 400px) {
    #title {
        padding-top: 146px;
        margin-left: 15px;
        font-size: 12px;
    }

    #Lee {
        font-size: 14px;
        margin-left: 153px;
    }

    #line01 {
        border-top: 1.5px solid rgb(78, 78, 78);
        width: 245px;
    }

    #line02 {
        border-top: 1.5px solid rgb(78, 78, 78);
        width: 380px;
    }

    #navmenu {
        right: 50px;
        bottom: 100px;
    }

    #navmenu a {
        font-size: 15px;
    }

    #picture {
        height: 20%;
        bottom: 150px;
    }
}

*/

@media screen and (max-width: 590px) {
    #title {
        text-align: center;
        margin: 0 auto;
        padding-top: 1px;
        padding-bottom: 1px;
        width: 1005;
        left: 0;
        font-size: 16px;
        /* background-color: blueviolet; */
    }
    
    
    #Lee {
        font-size: 19px;
        margin-left: 60%; 
    }

    
    #line01 {
        top: 85px;
        width: 100%;
    }

    #line02 {
        width: 10%;
    }

    #navmenu {
        width: auto;
        text-align: left;
        left: 75px;
        bottom: 100px;
        /* background-color: blueviolet; */
    }

    #navmenu a {
        font-size: 18px;
    }

    #picture {
        height: 20%;
        bottom: 150px;
        right: 0;
    }
}