

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

body {
    font-weight: 100;
    background-color: rgb(0, 0, 0);
}

/* -----------------------------------------------------------------------
header 영역 - 로고, 메인메뉴
----------------------------------------------------------------------- */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 342px;
    /* background-color: rgb(127, 87, 87); */
}
#navmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 98px;
    right: 155px;
    row-gap: 15px;
    text-align: right;
    /* background-color: rgb(0, 0, 0); */
}
#navmenu p {
    font-family: 'Inter', sans-serif;
    margin: 0 5px;
    
}
/* #navmenu 요소에 포함된 a 태그 스타일 설정 */
#navmenu a {
    color: rgb(122, 122, 122);
    font-size: 22px;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration: none;
    color: rgb(181, 44, 44);
}
#title {
    font-size: 32px;
    color: white;
    margin-left: 45px;
    padding-top: 55px;
    /* background-color: aquamarine; */
}
#Lee {
    font-family: 'Almarai', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 0%;
    color: rgb(122, 122, 122);
    padding-top: 0px;
    margin-left: 498px;
    /* background-color: rgb(148, 122, 82); */
}

/* -----------------------------------------------------------------------
Line 영역 - 선
----------------------------------------------------------------------- */

#line01 {
    position: absolute;
    border-top: 1.5px solid rgb(78, 78, 78);
    width: 680px;
    top: 195px;
    left: 0;
}

#line02 {
    position: absolute;
    border-right: 1.5px solid rgb(78, 78, 78);
    width: 93%;
    height: 312px;
    top: 0;
}

/* -----------------------------------------------------------------------
이미지 영역
----------------------------------------------------------------------- */

#picture {
    display: flex;
    justify-content: end; /*아이템을 메인축(가로) 방향으로 가운데 정렬 */

    position: absolute;
    width: 64.8%;
    height: 47%;
    bottom: 8%;
    right: 0;

    /* background-color: antiquewhite; */
}


@media screen and (max-width: 1100px) {
    #title {
        text-align: center;
        margin: 0 auto;
        padding-top: 1px;
        padding-bottom: 1px;
        width: 1005;
        left: 0;
        font-size: 16px;
        /* background-color: blueviolet; */
    }
    
    
    #Lee {
        display: none;
        font-size: 18px;
        margin-left: 61%; 
    }

    
    #line01 {
        top: 85px;
        width: 100%;
    }

    #line02 {
        width: 10%;
        height: 400px;
    }

    #navmenu {
        width: 120px;
        text-align: left;
        left: 14%;
        top: 200px;
        /* background-color: blueviolet; */
    }

    #picture {
        height: 35%;
        bottom: 150px;
        right: 0;
    }
}






@media screen and (max-width: 790px) {
    #title {
        text-align: center;
        margin: 0 auto;
        padding-top: 1px;
        padding-bottom: 1px;
        width: 1005;
        left: 0;
        font-size: 16px;
        /* background-color: blueviolet; */
    }
    
    
    #Lee {
        display: none;
        font-size: 18px;
        margin-left: 61%; 
    }

    
    #line01 {
        top: 85px;
        width: 100%;
    }

    #line02 {
        width: 10%;
        height: 400px;
    }

    #navmenu {
        width: 110px;
        text-align: left;
        left: 15%;
        top: 200px;
        /* background-color: blueviolet; */
    }

    #navmenu a {
        font-size: 18px;
    }

    #picture {
        height: 20%;
        bottom: 150px;
        right: 0;
    }
}