
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    height: 4600px;
    background-color: rgb(0, 0, 0);
}

/* -----------------------------------------------------------------------
header 영역 - 로고, 메인메뉴
----------------------------------------------------------------------- */

#header_box{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: rgb(0, 0, 0);
    border-bottom: solid 1.5px rgb(78, 78, 78);
    z-index: 10000; 
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 305px;
    /* background-color: rgb(127, 87, 87); */
    z-index: 10000;
}

#navmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    right: 140px;
    row-gap: 15px;
    text-align: right;
    /* background-color: rgb(0, 0, 0); */
}
#navmenu p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 0 5px;
    
}
/* #navmenu 요소에 포함된 a 태그 스타일 설정 */
#navmenu a {
    color: rgb(122, 122, 122);
    font-size: 22px;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration: none;
    color: rgb(181, 44, 44);
}

/* -----------------------------------------------------------------------
본문 영역 - 내용
----------------------------------------------------------------------- */

#title {
    font-family: 'Playfair Display', serif;
    position: fixed;
    font-size: 90px;
    color: white;
    top: 20px;
    left: 30%;
    text-align: center;
    /* background-color: aquamarine; */
}

/* -----------------------------------------------------------------------
Line 영역 - 선
----------------------------------------------------------------------- */

#line01 {
    position: fixed;
    border-right: 1.5px solid rgb(78, 78, 78);
    width: 93%;
    height: 312px;
    top: 0;
    z-index: 10000;
}


/* -----------------------------------------------------------------------
이미지 영역
----------------------------------------------------------------------- */

#picture01 {
    position: absolute;
    color: white;
    width: 440px;
    height: 440px;
    top: 1327px;
    left: 321px;

    /* background-color: antiquewhite; */

}

#picture01 img {
    border-radius: 30px;
    width: 100%;
}

#picture01 p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#picture01_1 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    width: 440px;
    height: 440px;
    top: 1327px;
    left: 321px;
    border-radius: 30px;
}

.text_001 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: 0;
    
}

#picture01_1:hover {
    
    text-decoration: none;
    background-color: rgba(0, 0, 0,0.6);
}

#picture01_1:hover .text_001 {
    opacity: 1.0;
}

#picture02 {
    position: absolute;
    color: white;
    width: 440px;
    height: 440px;
    top: 1920px;
    right: 338px;

    /* background-color: rgb(120, 150, 130); */

}

#picture02 img {
    border-radius: 30px;
    width: 100%;
}

#picture02 p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-align: right;
}

#picture02_2 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    background-color: rgb(0, 0, 0, 0);
    width: 440px;
    height: 440px;
    top: 1920px;
    right: 338px;
    border-radius: 30px;
}

.text_002 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: 0;
    
}

#picture02_2:hover {
    
    text-decoration: none;
    background-color: rgba(0, 0, 0,0.6);
}

#picture02_2:hover .text_002 {
    opacity: 1.0;
}


#picture03 {
    position: absolute;
    color: white;
    width: 440px;
    height: 440px;
    top: 2513px;
    left: 321px;

    /* background-color: rgb(235, 215, 250); */

}

#picture03 img {
    border-radius: 30px;
    width: 100%;
}

#picture03 p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#picture03_3 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    width: 440px;
    height: 440px;
    top: 2513px;
    left: 321px;
    border-radius: 30px;
}

.text_003 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: 0;
    
}

#picture03_3:hover {
    
    text-decoration: none;
    background-color: rgba(0, 0, 0,0.6);
}

#picture03_3:hover .text_003 {
    opacity: 1.0;
}

#picture04 {
    position: absolute;
    color: white;
    width: 440px;
    height: 440px;
    top: 3106px;
    right: 338px;

    /* background-color: rgb(150, 150, 120); */

}

#picture04 img {
    border-radius: 30px;
    width: 100%;
}

#picture04 p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-align: right;
}

#picture04_4 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    width: 440px;
    height: 440px;
    top: 3106px;
    right: 338px;
    border-radius: 30px;
}

.text_004 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: 0;
    
}

#picture04_4:hover {
    
    text-decoration: none;
    background-color: rgba(0, 0, 0,0.6);
}

#picture04_4:hover .text_004 {
    opacity: 1.0;
}

.picture-item {
    /*width: 300px; */
    flex-basis: 300px; /* flex-basis는 메인축 방향의 기준 크기 */
    flex-grow: 0;
    flex-shrink: 0;

    /* .picture-item 클래스 요소도 flex 컨테이너로 설정 */
    display: flex; 
    flex-direction: column; /* flex 메인축을 세로(column) 방향으로 설정 */
    justify-content: end;

    margin: 0 8px;
    /* border: solid 1px #000; */ 
} 

.button {
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    top: 4370px;
    left: 40%;
    /* background-color: aqua; */
    border: solid 3px white;
    border-radius: 100px;
}

@media screen and (max-width: 1115px) {
    body {
        height: 4100px;
    }

    #header_box{
        display: block;
    }

    #title {
    text-align: center;
    font-size: 70px;
    top: 20px;
    left: 20%;
    }

    #line01 {
        display: none;
    }

    #picture01 {
        justify-content: center;
        width: 410px;
        height: 410px;
        top: 1000px;
        left: 19%;
       /* background-color: blueviolet; */
    }

    #picture01 p {
        font-size: 15px;
    }

    #picture01_1 {
        width: 410px;
        height: 410px;
        top: 1000px;
        left: 19%;
    }

    #picture02 {
        width: 410px;
        height: 410px;
        top: 1590px;
        left: 19%;
    }

    #picture02 p {
        font-size: 15px;
        text-align: left;
    }

    #picture02_2 {
        width: 410px;
        height: 410px;
        top: 1590px;
        left: 19%;
    }

    #picture03 {
        width: 410px;
        height: 410px;
        top: 2180px;
        left: 19%;
    }

    #picture03 p {
        font-size: 15px;
    }

    #picture03_3 {
        width: 410px;
        height: 410px;
        top: 2180px;
        left: 19%;
    }

    #picture04 {
        width: 410px;
        height: 410px;
        top: 2770px;
        left: 19%;
    }

    #picture04 p {
        font-size: 15px;
        text-align: left;
    }

    #picture04_4 {
        width: 410px;
        height: 410px;
        top: 2770px;
        left: 19%;
    }

    .button {
        width: 170px;
        height: 45px;
        top: 3800px;
        left: 35%;
        /* background-color: aqua; */
        border: solid 3px white;
        border-radius: 100px;
    }

}



@media screen and (max-width: 590px) {
    body {
        height: 3800px;
    }

    #header_box{
        display: block;
    }

    #title {
    text-align: center;
    font-size: 46px;
    top: 20px;
    left: 20%;
    }

    #line01 {
        display: none;
    }

    #picture01 {
        justify-content: center;
        width: 290px;
        height: 290px;
        top: 1000px;
        left: 19%;
       /* background-color: blueviolet; */
    }

    #picture01 p {
        font-size: 10.5px;
    }

    #picture01_1 {
        width: 290px;
        height: 290px;
        top: 1000px;
        left: 19%;
    }

    .text_001 {
        font-size: 15px;
    }

    #picture02 {
        width: 290px;
        height: 290px;
        top: 1450px;
        left: 19%;
    }

    #picture02 p {
        font-size: 10.5px;
        text-align: left;
    }

    #picture02_2 {
        width: 290px;
        height: 290px;
        top: 1450px;
        left: 19%;
    }

    .text_002 {
        font-size: 15px;
    }

    #picture03 {
        width: 290px;
        height: 290px;
        top: 1900px;
        left: 19%;
    }

    #picture03 p {
        font-size: 10.5px;
    }

    #picture03_3 {
        width: 290px;
        height: 290px;
        top: 1900px;
        left: 19%;
    }

    .text_003 {
        font-size: 15px;
    }

    #picture04 {
        width: 290px;
        height: 290px;
        top: 2350px;
        left: 19%;
    }

    #picture04 p {
        font-size: 10.5px;
        text-align: left;
    }

    #picture04_4 {
        width: 290px;
        height: 290px;
        top: 2350px;
        left: 19%;
    }

    .text_004 {
        font-size: 15px;
    }

    .button {
        width: 170px;
        height: 45px;
        top: 3300px;
        left: 29%;
        /* background-color: aqua; */
        border: solid 3px white;
        border-radius: 100px;
    }
}